@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar .h-1{
    font-size: 4em;
    background: #CE5937;
    background: linear-gradient(to right, #e7dcc9 0%, #a12424 41%, darkred 100%);
    text-align: center;
    color:rgb(68, 12, 21);
    font-family: 'Arvo',serif;
    text-shadow: 5px 5px 1px #CE5937;
}
.bdy-1{
    background-image: url('../pexels-designecologist-887349.jpg');
    height: 87vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.h-2{
    font-size: 4em;
    font-family: 'Arvo',serif;
    color: rgb(121, 8, 85);
    text-align: center;
    padding: 15px 25px;
    margin-top: 24px;
    text-shadow: 5px 5px 1px #CE5937;
}
.navbar{
    background-color: #003308;
    height: 90px;
}
.form-h1{
    color: darkmagenta;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Arvo',serif;
    padding: 24px;
}
.form{
    margin-top:44px ;
    margin-right: 194px;
}
.flex-pyu{
    width: 135%;
    border:5px solid #fff;
    height: 50vh;
    border-radius: 25px;
    background-color: #fff;
}
.flex{
    display: flex;
}
.form-group{
    width: 50%;
}
.form-h2{
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Arvo',serif;
    padding-top: 15px;
}
.input{
    margin-left: 20px;
    padding: 10px 15px;
    border: 2px solid pink;
    border-radius: 20px;
    outline: none;
    font-size: 25px;
    font-family: 'Arvo';
}
#hr{
    margin: 21px 6px;
    color: rgb(180, 70, 75);
    height: 154px;
    background-color: pink;
}
.btn-1{
    border: 1px solid pink;
    background: none;
    padding: 18px 41px;
    margin-left: 390px;
    font-family: 'Arvo',serif;
    font-weight: 400;
    border-radius: 24px;
    cursor: pointer;
    outline: none;

}
.h-4{
    margin-left: 460px;
    outline: none;
    font-family: 'Arvo',serif;
    margin-top: 24px;
    font-weight: 100;
    
}
.marg{
    margin-left: 360px;
}
.marg .input1{
    margin-top: 20px;
    padding: 5px 2px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-align: center;
    outline: none;
}
@media only screen and (max-width: 600px){
    .navbar{
        height: 20px;
    }
    .navbar .h-1{
        font-size: 1em;
    }
    .h-2{
        font-size: 2em;
        padding: 0px;
    }
    .bdy-1{
        height: 124vh;
    }
    .flex{
        flex-direction: column;
    }
    #hr{
        display: none;
    }
    .input{
        font-size: 1em;
        padding: 5px 5px;
    }
}